{% extends 'website/base.html' %}
{% load static %}

{% block sub_head %}
    Contact Us
{% endblock %}

{% block content %}

    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300"
             data-image-src="{% static 'website/img/photos/bg4.jpg' %}"
             style="background-image: url(&{% static 'website/img/photos/bg16.png' %}&quot;);">
        <div class="container pt-17 pb-19 pt-md-18 pb-md-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title"
                     data-disabled="true">
                    <h1 class="display-1 text-white fs-60 mb-4 px-md-15 px-lg-0" data-cue="slideInDown"
                        data-group="page-title" data-show="true"
                        style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
                        Got a <span class="underline-3 style-2 yellow">Question?</span></h1>
                    <p class="lead fs-24 text-white lh-sm mb-7 mx-md-13 mx-lg-10" data-cue="slideInDown"
                       data-group="page-title" data-show="true"
                       style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;">
                        We’re Here to Help You! Drop your message and one of our agents will call you as soon as possible.</p>
                    <div data-cue="slideInDown" data-group="page-title" data-show="true"
                         style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">
                        <a class="btn btn-white rounded mb-10 mb-xxl-5" href="{% url 'website:contact-us' %}">Contact
                            Us</a>
                    </div>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z"></path>
                </svg>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row">

                <div class="col-xl-10 mx-auto">
                    <div class="card">
                        <div class="row gx-0">
                            <div class="col-lg-6 align-self-stretch">
                                <div class="map map-full rounded-top rounded-lg-start">
                                    <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d105853.22017723539!2d71.510133!3d33.994765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d917167637d363%3A0x36ab244aec6e8acc!2sTown%20Heights%20(Saif%20Associates)!5e0!3m2!1sen!2sus!4v1678617527177!5m2!1sen!2sus"
                                            style="width:100%; height: 100%; border:0" allowfullscreen>

                                    </iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 p-4">
                                <form class="contact-form needs-validation" method="post" novalidate>
                                    <div class="messages"></div>
                                    <div class="row gx-4">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-4">
                                                <input id="form_name" type="text" name="name" class="form-control"
                                                       placeholder="Jane" required>
                                                <label for="form_name">First Name *</label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter your first name.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-4">
                                                <input id="form_lastname" type="text" name="surname"
                                                       class="form-control" placeholder="Doe" required>
                                                <label for="form_lastname">Last Name *</label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter your last name.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-4">
                                                <input id="form_email" type="email" name="email" class="form-control"
                                                       placeholder="jane.doe@example.com" required>
                                                <label for="form_email">Email *</label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please provide a valid email address.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-select-wrapper mb-4">
                                                <select class="form-select" id="form-select" name="department" required>
                                                    <option selected disabled value="">Select a department</option>
                                                    <option value="Sales">Sales</option>
                                                    <option value="Marketing">Marketing</option>
                                                    <option value="Customer Support">Customer Support</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please select a department.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-4">
                                                <textarea id="form_message" name="message" class="form-control"
                                                          placeholder="Your message" style="height: 150px"
                                                          required></textarea>
                                                <label for="form_message">Message *</label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please enter your messsage.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check mb-4">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="invalidCheck" required>
                                                <label class="form-check-label" for="invalidCheck">
                                                    I agree to <a href="#" class="hover">terms and policy</a>.
                                                </label>
                                                <div class="invalid-feedback">
                                                    You must agree before submitting.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3"
                                                   value="Send message">
                                            <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="row gy-10 gx-lg-8 gx-xl-12">

                        <div class="col-lg-4 col-md-4">
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i
                                            class="uil uil-location-pin-alt"></i></div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Address 1</h5>
                                    <address>Higher land, village lows new land area, college downtown Karachi.</address>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-phone-volume"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Phone</h5>
                                    <p>+92 302 12341234 <br/>+92 344 12341234</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">E-mail</h5>
                                    <p class="mb-0"><a href="mailto:contact.test@gmail.com" class="text-body">contact.test@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i
                                            class="uil uil-location-pin-alt"></i></div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Multan Address</h5>
                                    <address> Diamond Market, Taxali Gate Rd, Kucha Faqirkhana Walled City of Lahore, Lahore, Punjab 54000</address>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-phone-volume"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Phone</h5>
                                    <p>+92 91 1321313</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">E-mail</h5>
                                    <p class="mb-0"><a href="mailto:contact.saifgroup@gmail.com" class="text-body">contact.saifgroup@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i
                                            class="uil uil-location-pin-alt"></i></div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Islamabad Address</h5>
                                    <address>Islamabad Office Address: Plot #3, Kapura road, Phepray, Islamabad</address>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-phone-volume"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">Phone</h5>
                                    <p>+92 332 1312321</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-1">E-mail</h5>
                                    <p class="mb-0"><a href="mailto:contact.saifgroup@gmail.com" class="text-body">
                                        contact.test@gmail.com
                                    </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}