{% extends 'website/base.html' %}
{% load static %}

{% block sub_head %}
    Imports
{% endblock %}

{% block content %}

    {# HERO #}
    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300"
             data-image-src="{% static 'website/img/photos/bg4.jpg' %}"
             style="background-image: url(&{% static 'website/img/photos/bg16.png' %}&quot;);">
        <div class="container pt-17 pb-19 pt-md-18 pb-md-17 text-center">
            <div class="row">
                <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title"
                     data-disabled="true">
                    <h1 class="display-1 text-white fs-60 mb-4 px-md-15 px-lg-0" data-cue="slideInDown"
                        data-group="page-title" data-show="true"
                        style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
                        Saif <span class="underline-3 style-2 yellow">Imports</span></h1>
                    {#                    <p class="lead fs-24 text-white lh-sm mb-7 mx-md-13 mx-lg-10" data-cue="slideInDown"#}
                    {#                       data-group="page-title" data-show="true"#}
                    {#                       style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;">#}
                    {#                       Our team depends upon some of the most high professionals and field experts.#}
                    {#                    </p>#}
                    {#                    <div data-cue="slideInDown" data-group="page-title" data-show="true"#}
                    {#                         style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">#}
                    {#                        <a class="btn btn-white rounded mb-10 mb-xxl-5" href="{% url 'website:contact-us' %}">Contact#}
                    {#                            Us</a>#}
                    {#                    </div>#}
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="overflow-hidden">
            <div class="divider text-light mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                    <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z"></path>
                </svg>
            </div>
        </div>
    </section>

    {# ABOUT US #}
    <section class="wrapper bg-gradient-reverse-primary">
        <div class="container py-16 py-md-18">
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-8 align-items-center">
                <div class="col-lg-7 order-lg-2">
                    <figure><img class="" src="{% static 'website/core/base/i4.jpeg' %}"
                                 srcset="{% static 'website/core/base/i4.jpeg' %} 2x" alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-lg-5">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">Lets Read</h2>
                    <h3 class="display-4 mb-5">About Omni Imports</h3>
                    <p class="">
                        Omni imports is leading imports and Exports service company.Wer are committed to providing you with
                        the best possible experience while ensuring that your goods are transported safely and efficiently. We
                        understand that importing goods can be a complicated process, which is why we offer a range of services
                        to make it easier for you. Our imports & exports services are designed to make your trade as smooth and efficient
                        as possible.
                    </p>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
 {# SERIVCES #}
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-17">
            <div class="row text-center">
                <div class="offset-md-1">
                    <h3 class="display-4 mb-7">
                        Our services
                    </h3>
                    <p class="lead fs-lg mb-7 text-center">
                        We offer a range of services, to ensure that your goods reach their destination safely and on
                        time.
                    </p>
                    <p class="lead fs-lg mb-7 text-center">
                        We can handle all types of cargo, including hazardous materials, oversized items, and perishable
                        goods. Our team of professionals will work closely with you to create a customized solution that
                        meets your needs and budget.

                    </p>
                </div>
            </div>
            <div class="position-relative mb-14 mb-md-17">
                <div class="shape rounded-circle bg-soft-primary rellax w-16 h-16" data-rellax-speed="1"
                     style="bottom: -0.5rem; right: -2.5rem; z-index: 0; transform: translate3d(0px, 210px, 0px);"></div>
                <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1"
                     style="top: -0.5rem; left: -2.5rem; z-index: 0; transform: translate3d(0px, 44px, 0px);"></div>
                <div class="row gx-md-5 gy-5 text-center">
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon btn btn-circle btn-lg btn-dark pe-none mb-3">
                                    <i class="uil uil-analysis"></i></div>
                                <h4>Import & Export Documentation</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon btn btn-circle btn-lg btn-primary pe-none mb-3"><i
                                        class="uil uil-shield-exclamation"></i></div>
                                <h4>Custom Clearance</h4>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon btn btn-circle btn-lg btn-info pe-none mb-3">
                                    <i class="fa fa-truck"></i></div>
                                <h4>Transport</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon btn btn-circle btn-lg btn-warning pe-none mb-3">
                                    <i class="fa fa-arrow-right"></i></div>
                                <h4>Freight Forwarding</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

<section class="wrapper bg-gray">
        <div class="container">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-lg-12 text-center">
                    <h3 class="display-4 mb-5">
                        Why to Choose Us?
                    </h3>
                    <p class="lead fs-lg mb-7 text-center">
                        We work closely with our partners to ensure that we provide a comprehensive service that meets
y                       our needs. We are committed to delivering the best possible service at competitive prices
                    </p>
                    <p class="lead fs-lg mb-7 text-center">
                        We pride ourselves on providing exceptional service and support to our customers. Our team is
                        dedicated to ensuring that your goods are transported safely and efficiently. We have extensive
                        knowledge and experience in the import and export industry, and we use this expertise to deliver
                        exceptional service to our customers.

                    </p>

                </div>
            </div>
        </div>
    </section>
    {# DIRECTORS #}
    <section class="wrapper">
        <div class="container py-15">

            <div class="row mb-3">
                <div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
                    <h3 class="display-4 mb-7 px-lg-19 px-xl-18">
                        Board Of Directors
                    </h3>
                    <p class="mb-6">The directors of the company are highly skilled, experienced, and have the valuable
                        experience and financial resources. Their aim is to make this world a beautiful place to live
                        for all of their customers.
                    </p>
                </div>
            </div>

            <div class="row text-center gx-md-8 gx-xl-10 gy-8 gy-lg-0 align-items-center">
                <div class="col">
                    <div class="" role="group">
                        <img class="rounded-circle w-20 mb-4"
                             src="{% static 'website/core/team/imran ullah.png' %}" alt="">
                        <h4 class="mb-1">Teefi Butt</h4>
                        <div class="meta mb-2">Cheif Executive Officer</div>
                    </div>
                </div>

                <div class="col">
                    <div class="" role="group">
                        <img class="rounded-circle w-20 mb-4"
                             src="{% static 'website/core/team/img2.jpeg' %}" alt="">
                        <h4 class="mb-1">Gogi Butt</h4>
                        <div class="meta mb-2">Managing Director</div>
                    </div>
                </div>

                <div class="col">
                    <div class="" role="group">
                        <img class="rounded-circle w-20 mb-4"
                             src="{% static 'website/core/team/zahid_marwat.jpeg' %}" alt="">
                        <h4 class="mb-1">Taji Khokhar</h4>
                        <div class="meta mb-2">Finance Director</div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{# CONTACT US #}
    <section class="wrapper bg-gray">
        <div class="container">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
                <div class="col-lg-12 text-center">
                    <h3 class="display-4 mb-5">
                        Contact Us
                    </h3>
                    <p class="lead fs-lg mb-7 text-center">
                        If you have any questions about our import and export services, please do not hesitate to
                        contact us. Our friendly and knowledgeable team is always available to answer your questions and
                        provide you with the information you need. Thank you for considering us for your import and
                        export needs.
                    </p>
            <a href="{% url 'website:contact-us' %}" class="btn btn-primary rounded-pill mb-5 text-nowrap">Contact
                Us</a>
                </div>
            </div>
        </div>
    </section>
    {# CLIENTS #}
<!--    <section class="wrapper bg-gray">-->
<!--        <div class="container py-14 py-md-16">-->
<!--            <div class="position-relative">-->
<!--                <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1"-->
<!--                     style="top: 0; left: -1.7rem;"></div>-->
<!--                <div class="swiper-container dots-closer blog grid-view mb-6" data-margin="0" data-dots="true"-->
<!--                     data-items-xl="5" data-items-md="5" data-items-xs="2">-->
<!--                    <div class="swiper">-->
<!--                        <div class="swiper-wrapper">-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="item-inner">-->
<!--                                    <article>-->
<!--                                        <div class="">-->
<!--                                            <figure class="card-img-top overlay overlay-1 hover-scale">-->
<!--                                                <img src="{% static 'website/core/footer/img1.jpeg' %}" alt=""/>-->
<!--                                            </figure>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="item-inner">-->
<!--                                    <article>-->
<!--                                        <div class="">-->
<!--                                            <figure class="card-img-top overlay overlay-1 hover-scale">-->
<!--                                                <img src="{% static 'website/core/footer/img2.jpeg' %}" alt=""/>-->
<!--                                            </figure>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="item-inner">-->
<!--                                    <article>-->
<!--                                        <div class="">-->
<!--                                            <figure class="card-img-top overlay overlay-1 hover-scale">-->
<!--                                                <img src="{% static 'website/core/footer/img3.jpeg' %}" alt=""/>-->
<!--                                            </figure>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="item-inner">-->
<!--                                    <article>-->
<!--                                        <div class="">-->
<!--                                            <figure class="card-img-top overlay overlay-1 hover-scale">-->
<!--                                                <img src="{% static 'website/core/footer/img4.jpeg' %}" alt=""/>-->
<!--                                            </figure>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="item-inner">-->
<!--                                    <article>-->
<!--                                        <div class="">-->
<!--                                            <figure class="card-img-top overlay overlay-1 hover-scale">-->
<!--                                                <img src="{% static 'website/core/footer/img5.jpeg' %}" alt=""/>-->
<!--                                            </figure>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

{% endblock %}

